header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .1rem 2rem;

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        padding: 1rem;

        button {
            border-radius: 5px;
            background: transparent;
            font-size: 1.5rem;
            color: black;

            &:hover {
                background-color: #39DB4A;
                color: white;
            }
        }
    }

}